<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded-top p-4">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
                &copy; <a href="#">Real Estate</a>, Tüm Hakları Saklıdır.
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-end">
                Coder By <a href="https://github.com/mmtkocak" target="_blank">MEHMET KOÇAK</a>
            </div>
        </div>
    </div>
</div>